body{
    margin: 0;
    padding: 0;
}
#light-box-mask{
    width: 100%;
    background-color: rgba(27,25,26,0.5);
    position: absolute;
    top: 0;
    left:0;
}
#light-box-img{
    border:1px solid #e8e8e8;
    border-radius: 5px;
    padding: 5px;
    background-color: #e8e8e8;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin-left: -200px;
    margin-top: -131px;
}
#light-box-img .img-close{
    content: "X";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    background-color: #e8e8e8;
    cursor: pointer;
}
#light-box-mask.mask-show{
    -webkit-animation:showMask 0.5s ease forwards;
    animation:showMask 0.5s ease-in forwards;
}
#light-box-img.img-show{     
    -webkit-animation:showImg 1s ease forwards;
    animation:showImg 1s ease-in forwards;
}
#light-box-img.img-hide{
    -webkit-animation:hideImg 0.3s ease forwards;
    animation:hideImg 0.3s ease-in forwards;
}
@-webkit-keyframes showImg{
    0%{
        -webkit-transform:scale(0);
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        -webkit-transform:scale(1.5);
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        -webkit-transform:scale(1);
        opacity: 1;
    }
}
@keyframes showImg{
    0%{
        -webkit-transform:scale(0);
                transform:scale(0);
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        -webkit-transform:scale(1.5);
                transform:scale(1.5);
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        -webkit-transform:rotate(360deg) scale(1);
                transform:rotate(360deg) scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes hideImg{
    0%{
        -webkit-transform:rotate(0);
        opacity: 1;
    }
    25%{
        opacity: 0.75;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        -webkit-transform:rotate(-360deg);
        opacity: 0;
    }
}
@keyframes hideImg{
    0%{
        -webkit-transform:rotate(0);
                transform:rotate(0);
        opacity: 1;
    }
    25%{
        opacity: 0.75;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        -webkit-transform:rotate(-360deg);
                transform:rotate(-360deg);
        opacity: 0;
    }
}
@-webkit-keyframes showMask{
    0%{
        height: 0;
        opacity: 0;
    }
    100%{
        height: 100%;
        opacity: 1;
    }
}
@keyframes showMask{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}